server:
  port: 8123
  servlet:
    context-path: /api
    session:
#      保存登录信息一个月
      cookie:
        max-age: 2592000
  tomcat:
    max-http-form-post-size: 10MB
    max-swallow-size: 10MB
spring:
  application:
    name: csh-picture-backend
  profiles:
    active: local
  # 开放更大的文件上传体积
  servlet:
    multipart:
      max-request-size: 10MB
      max-file-size: 10MB

  session:
    store-type: redis
    timeout: 2592000
  redis:
    database: 0
    host: 
    port: 6379
    timeout: 5000
    password: 

  # 数据库配置
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://:3306/yu_picture
    username: 
    password: 

  # 空间图片分表
  shardingsphere:
    datasource:
      names: yu_picture
      yu_picture:
        type: com.zaxxer.hikari.HikariDataSource
        driver-class-name: com.mysql.cj.jdbc.Driver
        url: jdbc:mysql://:3306/yu_picture
        username: 
        password: 
    rules:
      sharding:
        tables:
          picture:
            actual-data-nodes: yu_picture.picture  # 动态分表
            table-strategy:
              standard:
                sharding-column: spaceId
                sharding-algorithm-name: picture_sharding_algorithm  # 使用自定义分片算法
        sharding-algorithms:
          picture_sharding_algorithm:
            type: CLASS_BASED
            props:
              strategy: standard
              algorithmClassName: com.csh.mypicturebackend.manager.sharding.PictureShardingAlgorithm
    props:
      sql-show: true

mybatis-plus:
  configuration:
    map-underscore-to-camel-case: false
    # 仅在开发环境开启日志
    log-impl: ''
  #    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  global-config:
    db-config:
      logic-delete-field: isDelete # 全局逻辑删除的实体字段名
      logic-delete-value: 1 # 逻辑已删除值（默认为 1）
      logic-not-delete-value: 0 # 逻辑未删除值（默认为 0）
    enable-sql-runner: true
# 接口文档配置
knife4j:
  enable: true
  production: false
  basic:
    enable: true
    username: 
    password: 
  openapi:
    title: "接口文档"
    version: 1.0
    group:
      default:
        api-rule: package
        api-rule-resources:
          - com.csh.mypicturebackend.controller
